.dashboard{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width:100%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 350px 0 50px;
    background-position-y:25%;
    background-position-x: 40%;
}

section{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

.com-list{
        width: 350px;
        height: 30%;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(216, 228, 245);
        display: flex;
        box-shadow: 0px 1px 5px;
        margin: 20px;
        gap:10px
    }

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h4:last-of-type{
    color:green;
}


.img-div{
    width: 30%;
    border-right: 1px solid rgb(185, 184, 184);
}

.img-div img{
    width: 100%;
    height: 100%;
}

.examination{
    min-width:35%;
    height: 85%;
    display: flex;
    gap: 20px;
    background-color: rgb(222, 232, 248);
    box-shadow: 0px 1px 5px;
    border-radius: 5px ;
    padding: 20px;
}

.examination div:nth-child(1){
    border-right: 1px solid gray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.examination div img{
    width: 80%;
    height: 90%;
    margin-top: -10%;
    margin-left: 5%;
}

.ex-content{
    display: flex;
    flex-direction: column;
     width:40%;
    gap: 20px;
}

.ex-content h3{
    color:blue;
}

/* ----------------------------------------- responsive ------------------------------------------------- */
/* exam div gap */
@media screen and (min-width:1040px) and (max-width:1330px) {
    .examination div:first-of-type{
        padding-right: 20px;
    }
}

/* exam logo size */
@media screen and (min-width:1039px) and (max-width:1165px) {
    .examination div img{
    height: 80%
}
}

/* section size decreased */
@media screen and (min-width:768px) and (max-width:1024px) {
        .com-list{
            width: 300px;
            height: 25%;
            padding: 8px;
            border-radius: 4px;
            margin: 20px;
            gap:10px
        }

        .examination div{
            min-width: 50%;
             padding-right: 20px;
        }

        .examination{
            min-width:35%;
            height: 67%;
            padding-right: 20px;
        }

        .examination div img{
            width: 70%;
            height: 75%;
        }
 
        .ex-content h2{
            font-size:25px
        }

        /* banner top padding adjusted */
        .banner{
            padding: 50px 250px 0 50px;
        }

}

/* exam div padding */
 @media screen and (min-width:768px) and (max-width:974px) {
        .examination div:first-of-type{
            padding-right: 20px;
             min-width: 50%;
        }
}

/* tab to mobile size design */
@media screen and (min-width:550px) and (max-width:768px) {

    section{
        width:100%;
        min-height:50%;
        display:flex;
        flex-direction: column;
    }

    section div:first-of-type{
        display: flex;
        flex-direction: row;
    }

    .com-list{
        width: 285px;
        min-height: 70%;
        margin:15px;
     }

     .examination{
        min-width:30%;
        height: 45%;
        margin-top: -20px;
    }

    .examination div{
        min-width:50%;
    }

    .examination div img{
        width: 65%;
        height: 70%;
        margin-top: -10%;
        margin-left: 5%;
    }

    .banner{
        width:100%;
        height:60%;
        padding: 50px 30% 0 50px;
    }

}

/* tab size section's 1st row's cards' size adjusted */
@media screen and (min-width:600px) and (max-width:650px) {
  .banner{
        width:100%;
        height:60%;
        padding: 60px 10% 0 50px;
    }

     .com-list{
        width: 270px;
        min-height: 70%;
        margin:10px;
     }

      .examination div img{
        width: 55%;
        height: 60%;
        margin-top: -10%;
        margin-left: 5%;
    }

     .examination{
        margin-top: -25px;
    }

}

/*  tab size section's 1st row's cards' size adjusted  */
@media screen and (min-width:550px) and (max-width:600px) {
  
     .com-list{
        width: 220px;
        min-height: 80%;
        margin:10px;
        display: flex;
     }

}

/* mobile size's responsive design */
@media screen and (min-width:150px) and (max-width:550px) {
    .dashboard{
        width:100%;
        min-height:100vh;
    }

    .banner{
        width:100%;
        min-height:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 8% 0 50px;
    }

     section{
        width:100%;
        min-height:55%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .first-row{
        display: flex;
        flex-direction:column;
        justify-content:center;
        height:60%
    }

    .img-div img{
        width: 90%;
        height: 90%;
    }

     .com-list{
        width: 300px;
        height: 35%;
        margin:20px 0 0;
     }

     .student-list{
        display: flex;
        flex-wrap: wrap;
     }

     .examination{
        min-width:25%;
        height:38%;
        padding:15px;
        gap:10px;
     }

     .examination div:nth-child(1){
        border-right: 1px solid gray;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        width:50%;
    }

    .examination div:nth-child(1) h3{
        font-size: 22px;
    }

     .examination div img{
        width: 60%;
        height: 70%;
        margin-top: -15%;
        margin-left: 12%;
    }

    .ex-content h2{
        font-size: 20px;
    }

     .ex-content h3{
        font-size: 20px;
    }

}

/* font-size adjusted for smaller mobile size */
@media screen and (min-width:300px) and (max-width:410px) {
   .banner h2, p{
    font-size: 20px;
   }
    .banner p{
    font-size: 14px;
   }
}

/* overall size adjusted for smaller mobile view */
@media screen and (min-width:150px) and (max-width:299px) {

 .first-row{
        display: flex;
        flex-direction:column;
        justify-content:center;
        height:50%
    }

    .img-div img{
        width: 75%;
        height: 85%;
    }

     .com-list{
        width: 200px;
        height: 30%;
        margin:20px 0 0;
       
     }

     .com-list h4{
         font-size: 15px;
     }

     .banner h2, p{
    font-size: 18px;
   }
    .banner p{
    font-size: 12px;
   }

   .examination{
        width:70%;
        height:30%;
        padding:15px;
        gap:15px;
     }

    .examination div:nth-child(1) h3{
        font-size: 14px;
    }

     .examination div img{
        width: 50%;
        height: 60%;
        margin-top: -15%;
        margin-left: 12%;
    }

    .ex-content{
        display: flex;
        gap:10px
    }

    .ex-content h2{
        font-size: 13px;
    }

     .ex-content h3{
        font-size: 13px;
    }



}

/* @media screen and (min-width:) and (max-width:) {

} */